.content {
    margin-top: 70px;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 70px);
    overflow-y: auto;

}

@media (max-width: 768px) {
    .content {
        margin-top: 60px;
        padding: 10px;
    }
}
