.custom-navbar {
    background: linear-gradient(135deg, #1A374D, #162A49, #FFD700);
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.5s ease, box-shadow 0.3s ease;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {

    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF !important;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2), 1px 1px 6px rgba(0, 0, 0, 0.5);
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    transition: transform 0.3s ease;
}

.brand:hover {
    transform: scale(1.05);
}

    .navLinks {
    margin-left: 50px;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    flex-wrap: wrap;
}

.navLink {
    color: #FFFFFF !important;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.navLink:hover {
    background-color: rgba(255, 215, 0, 0.3);
    color: #FFFFFF;
    transform: scale(1.1);
    filter: brightness(1.5) sepia(1) hue-rotate(30deg) saturate(10);
}

.navLink.active {
    background-color: #FFD700;
    color: #1A374D !important;
    font-weight: bold;
}

.icon {
    color: #FFD700;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.logout {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logoutLink {
    color: white !important;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logoutLink:hover {
    background-color: #FFD700;
    color: #1A374D !important;
    transform: scale(1.1);
}
