.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #D2B48C;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar .list-group-item {
    background-color: #D2B48C;
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

.sidebar .list-group-item:hover {
    background-color: #F5DEB3;
}

.sidebar .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.offcanvas-sidebar .list-group-item {
    display: flex;
    align-items: center;
    background-color: #D2B48C;
    color: white;
}

.offcanvas-sidebar .list-group-item:hover {
    background-color: #F5DEB3;
}
