.swiper{
    width: 100% !important;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 40px;

}

.feedback img {
    width: 100px;
    border-radius:70px;
}

.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.content h3{
    font-size: 35px;

}

.content h3 span{
        display: block;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.content p{
    padding: 20px;
    border:1px solid rgba(131,131,131,0.2);
    border-radius: 10px;
}
