
.customBody {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, #8b4513, #d2b48c);
    font-family: Arial, sans-serif;
    font-weight: 100;
}

.employeesPageContent {
    margin-left: 250px;
    padding: 20px;
}

.employeesContainer {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.employeesTitle {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.generalFilterInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    width: 300px;
    background-color: #8b4513;
    color: white;
    box-sizing: border-box;
}

.generalFilterInput::placeholder {
    color: white;
}

.generalFilterInput:focus {
    outline: none;
    border-color: #8b4513;
    box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

.addButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #8b4513;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.addButton:hover {
    background-color: #6e3510;
}


.employeesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.employeesTable th {
    background-color: #8b5a2b;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.employeesTable td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.employeesTable tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.employeesTable tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.filterSelect {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #8b4513;
    color: white;
    box-sizing: border-box;
}

.filterSelect:focus {
    outline: none;
    border-color: #8b4513;
    box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

.employeesStatusButton {
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.employeesWorking {
    background-color: #a0522d;
}

.employeesWorking:hover {
    background-color: #6e3510;
    transform: scale(1.05);
}

.employeesDayOff {
    background-color: #cd853f;
}

.employeesDayOff:hover {
    background-color: #b36b2f;
    transform: scale(1.05);
}

.employeesOnLeave {
    background-color: #deb887;
}

.employeesOnLeave:hover {
    background-color: #c4a573;
    transform: scale(1.05);
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
}

.modal h3 {
    font-size: 24px;
    font-weight: bold;
    color: #8b4513;
    margin-bottom: 20px;
}


.scheduleTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.scheduleTable th {
    background-color: #8b5a2b;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.scheduleTable td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
    background-color: rgba(139, 69, 19, 0.1);
}

.scheduleTable tr:nth-child(even) {
    background-color: rgba(139, 69, 19, 0.1);
}

.scheduleTable tr:hover {
    background-color: rgba(139, 69, 19, 0.3);
}


.closeModalButton {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closeModalButton:hover {
    background: #c82333;
}
