.nav_wrapper{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    background-color: transparent;
    position: fixed;
    top:0;
    z-index: 99;
}

.nav_wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg , transparent , #000 );
    z-index: -1;
}

#stars{
    color: darkgoldenrod;
    padding-left: 12px;
}

.nav_wrapper .logo a{
    font-size: 25px;
    font-weight: 700;
    color: #bda06a;
}
.nav_wrapper ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav_wrapper ul li::after{
    position: absolute;
    content: '';
    top: 10px;
    left: -10px;
    transform: translateX(-50%);
    height: 5px;
    background-color: ghostwhite;
    width: 5px;
    border-radius: 50%;
    transition: .2s;
}
.nav_wrapper ul li:hover:after{
    background-color: #bda06a;
}

.Nav_btns{
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav_wrapper ul li a{
    color: ghostwhite;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}

#bars{
    border: none;
    background-color: #bda06a;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: ghostwhite;
    box-shadow: 2px 2px 3px #ffffff94 , inset 3px 3px 10px #ffffff39;
    transition: 1s;
    cursor: pointer;

    display: none;
}

#bars:hover{
    box-shadow: 0 0 #ffffff94 , inset 3px 3px 10px #ffffff39;
    transform: scale(0.95);
}

@media screen and (max-width:1200px) {
    #bars{
        display: flex;
    }

    .nav_wrapper ul{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid ghostwhite;
        transition: .6s;
    }

    .nav_wrapper ul li::after{
        left: 10%;
        top: 35px;
    }

    .nav_wrapper .showNav{
        left: 0;
    }

    .nav_wrapper ul li{
        display: block;
        margin: 5px 0;
        padding: 25px 0;
        padding-left: 15%;
        border-bottom: 1px solid rgba(131, 131, 131, 0.4);
    }
    .nav_wrapper ul li:last-child{
        border: none;
    }
}


